.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
    border-radius: 15px;
    color: rgb(143, 140, 140);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 86%;
    justify-content: center;
}

.submit {
    display: flex;
    position: relative;
    height: 2rem;
    width: 309px;
    text-align: center;
    justify-content: center;
    background-color: grey;
    color: white;
    background-color: #0e71ea;
    box-shadow: none;
    border-radius: 5px;
    box-shadow: none;
    border-color: green;
    text-decoration: none;
}

.det {
    color: #0e71ea;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0.1rem 0;
}

.address {
    width: 300px;
    border: 1px solid grey;
    border-radius: 5px;
}
.submit:hover{
    background-color: green;
    text-transform: uppercase;
    border-color: blue;
}
.space{
    border: 1px solid grey;
    border-radius: 5px;
    color: gray;
}
.form{animation: fadeIn 1s infinite;}
@keyframes fadein {
   0% {opacity: 0;}
    50% {opacity: 5;}
    100% {opacity: 0;}
}