body{
    background-image:url(./assets/store.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    color: gold;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 9px;
    background-repeat: repeat;
    border-color: gold;
    font-size: 1vw;
    background-attachment: fixed;
}
a{
    color: red;
}
a:hover{
    color: blue;
}
a:active{
    color: brown;
}
button:hover{
    color: red;
}
button{
    color: blue;
}
pre{
   background-image: url(./assets/mychess.webp);
   background-repeat: repeat;
    color: blue;
    font-size: medium;
}
address{
    color: blue;
    text-align: right;
    
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333333;
    border-radius: 12px;
}
li{
    float:center ;
}
li a{
    color: #ffff;
    display: list-item;
    text-decoration: none;
    padding: 16px;
    text-align: center;
}
li a:hover{
    background-color: black;
}
/* p{
    text-align: center;
    color: brown;
} */
li a:active{
    color: goldenrod;
}
img{
    border-radius: 9px;
}
h4{
    text-align: center;
    color: gold;
}
.clothes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.black{
    color: goldenrod;
}
details{
    float: left;
    display: flex;
    border-radius: 13px;
    background-color: brown;
}
table{
    text-align: center;
    align-self: center;
}
.us{
    border-radius: 12%;
    border: #333333;
}
iframe{
    bottom: none;
    border-color: red;
    border-radius: 9px;
    height: 670px;
    width: 570px;
    float: left;
}
header{
    background-image: url(./assets/myCollection.jpeg);
}
.list{
    font-size: 1vw;
}
.alldesigners{
    margin: 0px;
    padding: 5px;
    background-color: lightblue;
    border-radius: 12px;
}
.alldesigners >h1, .designer{
    margin: 10px;
    padding: 5px;

}
.designer{
    background-color: blue;
    border-radius: 9px;
}
.alldesigners >h2 ,p{
    margin: 4px;
    font-size: 90%;
    color: gold;
}
.alldesigners >h1 {
    color: blue;
}
.designer >h2{
    color: goldenrod;
}
.search{
    color: aqua;
    display: flex;
    justify-content: center;
}
table, th, td{
    border: 3px solid gold;
        border-radius: 5px;
}
table{
    width: 50%;
    background-color: black;
    justify-content: center;
    border: none;
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}
th{
    text-align: center;
    background-color: white;
}
td{
    text-align: left;
    color: red;
}
.hover:hover{
    background-color: white;
    text-transform: capitalize;
}
#units{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}